<%- include("common/header",{flag:"index",movieName:""}) %>
<!-- 主内容 -->
<div class="main">
    <div class="wp">
        <div class="container">
            <div class="title-bar">
                <h2>今日欧美剧推荐</h2>
            </div>
            <div class="media-list">
                <ul>
                    <% for(let i=0;i<tvs.length;i++) {%>
                    <li>
                        <a href="<%- `/html/${tvs[i].filmType}/${tvs[i].id}` %>" target="_self"
                            title="<%= tvs.pureName %>">
                            <div>
                                <img src="/public/<%= tvs.indexImgSrc %>" alt="<%= tvs[i].pureName %>">
                            </div>
                            <div>
                                <h3 class="ellipsis"><%- `${tvs[i].fullName}连载至${tvs[i].tvNum}` %></h3>
                                <time class=<%= tvs[i].isNew ?'new':'' %>><%- tvs[i].pubDate%></time>
                            </div>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 主内容结束 -->
<!-- 底部 -->
<%- include('common/footer.ejs') %>
<!-- 底部结束 -->
<%- include('common/script.ejs') %>
<script src="/public/javascripts/index.js"></script>
</body>

</html>