<%- include('common/header',{isDetail:false,programName:'',isSearch:false}) %>
<link rel="stylesheet" href="/public/stylesheets/index/index.css">
<!-- 主内容 -->
<div class="main">
    <div class="wp">
        <div class="container">
            <%- include('common/titleBar.ejs',{title:'今日热门电影推荐',type:'',hasMore:false});%>
            <div class="media-list">
                <ul>
                    <% for(let i=0;i<movies.length;i++) {%>
                    <li>
                        <a href="<%- `/html/${movies[i].filmType}/${movies[i].id}` %>" target="_self"
                            title="<%= movies[i].pureName %>">
                            <div>
                                <img src="/public/<%= movies[i].indexImgSrc %>" alt="<%= movies[i].pureName %>">
                            </div>
                            <div>
                                <h3 class="ellipsis"><%- movies[i].fullName %></h3><time
                                    class="<%- movies[i].isNew?'new':'' %>"><%- movies[i].pubDate%></time>
                            </div>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 主内容结束 -->
<!-- 底部 -->
<%- include('common/footer.ejs') %>
<!-- 底部结束 -->
<script src="/public/javascripts/index.js"></script>
</body>

</html>