<%- include('common/header',{isDetail:false,programName:'',isSearch:false}) %>
<link rel="stylesheet" href="/public/stylesheets/index/index.css">
<!-- 主内容 -->
<div class="main">
    <div class="wp">
        <div class="container">
            <% for(let i=0,len=results.length;i<len;i++) { %>
            <div class="movie-list">
                <%- include('common/titleBar.ejs',{title:`最新${results[i][0].typeName}`,type:results[i][0].filmType,hasMore:true});%>
                <div class="media-list">
                    <ul>
                        <% for(let j=0,len=results[i].length;j<len;j++) {%>
                        <li>
                            <a href="<%- `/html/${results[i][j].filmType}/${results[i][j].id}` %>" target="_self">
                                <div>
                                    <img src="/public/<%= results[i][j].indexImgSrc %>">
                                </div>
                                <div>
                                    <h3 class="ellipsis"><%- results[i][j].fullName %></h3>
                                    <time
                                        class=<%= results[i][j].isNew ? 'new':'' %>><%- results[i][j].pubDate %></time>
                                </div>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<!-- 主内容结束 -->
<!-- 底部 -->
<%- include('common/footer.ejs') %>
<!-- 底部结束 -->
<script src="/public/javascripts/index.js"></script>
</body>

</html>