<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <% if(isDetail) { %>
    <title><%= movieName %>下载_迅雷下载_免费下载_爱下电影网</title>
    <meta name="keywords" content="<%= movieName %>迅雷下载,<%= movieName %>下载,下载地址>" />
    <meta name="description"
        content="<%= movieName %>迅雷下载、<%= movieName %>免费下载，在爱下网您可以免费获得<%= movieName %>的详细剧情介绍,剧照和迅雷高速免费下载地址>" />
    <% } else if(programName) { %>
        <title><%= programName %>_迅雷下载_免费下载_爱下电影网</title>
        <meta name="keywords" content="<%= programName %>迅雷下载,免费下载，Gvod高清在线播放" />
        <meta name="description"
            content="<%= programName %>迅雷下载、免费下载，<%= programName %>Gvod高清在线播放，剧情介绍等>" />
    <% } else if(isSearch) {%>
        <title>爱下高清电影下载网爱下迅雷电影下载站-搜索最新电影免费下载</title>
        <meta name="keywords" content="迅雷下载,免费电影下载,海报剧情" />
        <meta name="description"
            content="本站每天搜集最新电影迅雷下载" />
    <% } else { %>
    <title>爱下电影网_爱下迅雷电影下载网_最新电影_迅雷免费电影下载</title>
    <meta name="keywords" content="电影下载,最新电影,电影天堂,电影网,高清电影下载,电影网站,axiam.com">
    <meta name="description"
        content="爱下电影网－最新电影,迅雷电影下载-每天搜集最新迅雷免费电影下载。为使用迅雷软件的用户提供最新的免费电影下载、小电影下载、高清电影下载等服务。" />
    <% } %>
    <%- include meta %>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>

<body>
    <!-- 头部 -->
    <div class="header-wp">
        <div class="wp">
            <!-- logo -->
            <div class="fl logo">
                <h1>
                    <a href="/" traget="_self">
                        <img src="/images/logo.png" alt="爱下资源网">
                    </a>
                </h1>

            </div>
            <div class="fr right" id="rightSearch">
                <%- include search %>
                <!-- 小屏下的图标 -->
                <div id="menuIcon" class="menu-icon">
                    <b></b>
                    <b></b>
                    <b></b>
                </div>
            </div>
        </div>
    </div>
    <!-- 头部结束 -->
    <!-- 导航 -->
    <div id="indexNav" class="nav">
        <div class="wp">
            <%- include search %>
            <%- include menu %>
        </div>
    </div>
    <!-- 导航结束 -->
    <script src="/javascripts/utils.js"></script>
    <script src="/javascripts/header.js"></script>
    <script src="/javascripts/menu.js"></script>